/* You can add global styles to this file, and also import other style files */
 
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('assets/fonts/glyphicons-halflings-regular.woff') format('woff');
}
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('assets/fonts/glyphicons-halflings-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('assets/fonts/glyphicons-halflings-regular.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('assets/fonts/glyphicons-halflings-regular.svg') format('svg');
}
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('assets/fonts/glyphicons-halflings-regular.ttf') format('truetype');
}